.card
  .card-body
    = image_tag src="https://via.placeholder.com/200", class: 'float-left rounded'
    .business-info.float-left.ml-3.d-flex.flex-column.justify-content-between.h-100
      .card-title McDonald's
      %p.card-text
        %span $
        %span.text-muted﹒ Fast Food, Burgers
      %span.card-text (555) 555-5555
      %span.card-text 123 Park St
      %span.card-text Somewhere
