.actions.pr-3.float-right.text-white
  %a.btn.btn-link.text-white(href="#" ) Log In
  %a.btn.btn-outline-light(href="#" ) Sign Up

.hero.d-flex.w-100.justify-content-center.align-items-center
  .content.d-flex.flex-column.justify-content-around.h-100.pt-5
    %h1.text-white.text-center yip
    %p.text-white-50 Know before you go
    %p.text-white.mt-auto A sample business