.top-header
.profile.container.pt-5
  .row
    .col-sm-2
      %img.avatar(src="https://via.placeholder.com/250")
    .col-sm-8.offset-md-2.details.pt-5
      %h3.text-dark Katherine Ebel
      %p.text-muted Green Cove Springs, FL

  .row.reviews
    .col-sm-3
      %h5.mt-3.text-dark Katherine's Profile
    .col-sm-8.offset-sm-1
      %h4 Reviews
      %hr
      %p.ml-5.text-muted No reviews yet
